{% extends "base.html" %}

{% block content %}
    {% if owner %}
    <div class="text-right">
        <a href="/blog/edit/{{post.key().id()}}/">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </a>
        <a href="/blog/delete/{{post.key().id()}}/">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </a>
    </div>
    {% endif %}
    {% if user and not owner %}
    <div class="text-right">
        {% if not liked %}
        <a href="/blog/like/{{post.key().id()}}/">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
        </a>
        {% else %}
        <a href="/blog/unlike/{{post.key().id()}}/">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Unlike
        </a>
        {% endif %}
    </div>
    {% endif %}
    {{post.render() | safe}}
    <h2>{{likes.count()}} likes</h2>
    {%if comments.count() %}
    <h2>comments</h2>
    {% for c in comments %} 
    <div class="well">
        <p>{{c.content}} <i>-{{c.author}}</i></p>
        {% if c.author == user %}
        <a href="/comment/edit/{{post.key().id()}}/{{c.key().id()}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </a>
        &nbsp;
        <a href="/comment/delete/{{post.key().id()}}/{{c.key().id()}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </a>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% if user and not owner %}
    <h2>new comment</h2>
    
    <form method="post" action="/comment/new/{{post.key().id()}}">
        <div class="form-group">
            <label for="content">content</label>
            <textarea name="content" class="form-control" rows="5">{{content}}</textarea>
        </div>
        <input type="submit" class="btn btn-default">
    </form>
    {% endif %}
{% endblock %}